@page "/"
@namespace DashBoard.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*@(await Html.RenderComponentAsync<Metadata>(RenderMode.ServerPrerendered))*@
    <link rel="icon" href="favicon.ico">
    <link href="css/site.css" rel="stylesheet">
    @*<link href="_content/Radzen.Blazor/css/default.css" rel="stylesheet">*@

    @*Include the base version if you are using Bootstrap already*@
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />

    <link href="_content/Radzen.Blazor/css/default-base.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="_content/DevExpress.Blazor/dx-blazor.css" rel="stylesheet" />

</head>
<body>

    <app>
        @(await Html.RenderComponentAsync<Geniee.App>(RenderMode.ServerPrerendered))
    </app>
    @*<script async src="js/blazor.server.js"></script>
        <script async src="js/highlight.pack.js"></script>*@
    <!--
    <script async src="blazor.polyfill.min.js"></script>
    -->
    <script async src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
    <script>
        function setTitle(title) {
            document.title = "RARR Technologies";
        }

    </script>
    <script type="text/javascript">
        function saveAsFile(filename, bytesBase64) {
            if (navigator.msSaveBlob) {
                //Download document in Edge browser
                var data = window.atob(bytesBase64);
                var bytes = new Uint8Array(data.length);
                for (var i = 0; i < data.length; i++) {
                    bytes[i] = data.charCodeAt(i);
                }
                var blob = new Blob([bytes.buffer], { type: "application/octet-stream" });
                navigator.msSaveBlob(blob, filename);
            }
            else {
                var link = document.createElement('a');
                link.download = filename;
                link.href = "data:application/octet-stream;base64," + bytesBase64;
                document.body.appendChild(link); // Needed for Firefox
                link.click();
                document.body.removeChild(link);
            }
        }
    </script>
    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
